<h3 class="text-primary text-center">Sensores</h3>
<div class="row">
    <div class="col-sm-6 text-center">
        <h3>PH</h3>
        <label class="ph-chart ct-perfect-fourth"></label>
    </div>
    <div class="col-sm-6 text-center">
        <h3>TEMPERATURA</h3>
        <label class="temp-chart ct-perfect-fourth"></label>
    </div>
    <div class="col-sm-6 text-center">
        <h3>TURBIDEZ</h3>
        <label class="turb-chart ct-perfect-fourth"></label>
    </div>
    <div class="col-sm-6 text-center">
        <h3>NIVEL</h3>
        <label class="nivel-chart ct-perfect-fourth"></label>
    </div>
</div>

<link rel="stylesheet" href="javascripts/bootstrap/css/bootstrap.css">
<script src="javascripts/bootstrap/js/bootstrap.js"></script>

<link rel="stylesheet" href="javascripts/chartist/chartist.min.css">
<script src="javascripts/chartist/chartist.min.js"></script>

<link rel="stylesheet" href="javascripts/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css">
<script src="javascripts/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.js"></script>


<script src="javascripts/jquery.js"></script>
<script src="javascripts/chart.js"></script>


<link rel='stylesheet' href='/stylesheets/style.css' />